[submodule "kirby"]
	path = kirby
	url = https://github.com/getkirby/kirby.git
[submodule "panel"]
	path = panel
	url = https://github.com/getkirby/panel.git
[submodule "site/plugins/quickselect"]
	path = site/plugins/quickselect
	url = https://github.com/medienbaecker/kirby-quickselect.git
[submodule "site/plugins/images"]
	path = site/plugins/images
	url = https://github.com/medienbaecker/kirby-images.git
[submodule "site/plugins/map"]
	path = site/plugins/map
	url = https://github.com/AugustMiller/kirby-map-field.git
[submodule "site/plugins/compress"]
	path = site/plugins/compress
	url = https://github.com/iksi/KirbyCompress.git
