# System files
# ------------

Icon
.DS_Store

# Temporary files
# ---------------

/thumbs/*
!/thumbs/index.html

/site/cache/*
!/site/cache/index.html

# -------------SECURITY-------------
# NEVER publish these files via Git!
# -------------SECURITY-------------

# Kirby accounts
# ---------------

/site/accounts/*
!/site/accounts/index.html

# Avatars
# ---------------

/assets/*
/assets/avatars/*
!/assets/avatars/index.html

# Project files
# ------------

node_modules
npm-debug.log
bower_components
.bower-cache
.bower-registry
.bower-tmp
.sass-cache
dploy.yaml
