.team
  .container
    padding-top: $space * 2
    @include media($size-s-min)
      padding-top: $space * 4
  &-title
    text-align: center
    margin-bottom: $space
  &-items
    display: flex
    flex-wrap: wrap
  &-item
    flex-basis: 100%
    padding-left: $space
    padding-right: $space
    margin-bottom: $space * 2
    text-align: center
    @include media($size-s-min)
      flex-basis: 50%
      margin-bottom: $space * 4
    @include media($size-m-min)
      flex-basis: 25%
    &-image
      line-height: 0
      margin-bottom: $space
      img
        width: rem-calc(96)
        height: rem-calc(96)
        border-radius: 50%
        @include media($size-s-min)
          width: rem-calc(128)
          height: rem-calc(128)
    &-content
      flex: 1
      .h4
        margin-top: $space / 2
